html, body {
  height: 100%;
}

body {
  display: flex;
  width: 100%;
  background: #F5F5F5;
  color: #444;
  font-family: "Helvetica Neue", Arial, serif;
  margin: 0;
  padding: 0;
}


.navigation {
  background: #999;
  width: 250px;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #555;
}

.navigation ul li {
  text-align:center;
  border-bottom: 1px solid #555;
}

.navigation ul li:last-child {
  border-bottom: none;
}

.navigation ul li a {
  display: block;
  text-decoration: none;
  padding: 15px;
}

.navigation ul li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.main {
  background: #DDD;
  width: 100%;
}
