body {
  display: flex;
  width: 100%;
  background: #F5F5F5;
  color: #444;
  font-family: "Helvetica Neue", Arial, serif;
  /* font-size: 22px; */
  margin: 0;
  padding: 0;
  /* font-weight: 200; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



header {

}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #AAA;
}

.navigation {
}

#myNav {
  /* margin: 10px; */
  padding: 10px;
  background-color: #888;
  width: 300px;
  border: 1px solid #000;
}

#myNav ul {
  list-style: none;
}

.main {
  /* display: block; */
}

.project {
  font-size: 18px;
}
