html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, serif;
  /* font-size: 22px; */
}

a {
  color: #fff;
  text-decoration: none;
}

.content_wrapper {
  padding: 20px;
}

.navigation {
  background-color: #999;
  height: 100%;
  padding: 20px 30px 0 0;
}

.navigation ul {
  list-style: none;
}

.project {

}


.main {
  background-color: #DDD;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 20px;
}

.main h1 {
  text-align: center;
}
